bin-debug/
bin-release/
[Oo]bj/
# [Bb]in/

.settings/
.vscode/

*.swf
*.air
*.ipa
*.apk
*.zip
package-*

node_modules/
*/node_modules/
build/*
dist/*

*node
*.local
*.idea
.DS_Store
.history
.zshrc

pnpm-lock.yaml*
.eslintcache*
yarn.lock
